spring:
  application:
    name: whatsapp-service

server:
  port: 8091

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    com.imp.whatsapp: DEBUG
